<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Askcoin Supply</title>
    <link rel="icon" href="favicon.ico" type="img/x-ico" />
    <link href="askcoin.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<div style="margin-left: 7em;margin-top: 1em;">
    <a href="http://www.askcoin.me"><img alt="logo" src="logo1.png"/></a>
</div>

<div id="top_div" style="margin-left: 5%; margin-bottom: 21em; margin-right: 5%; margin-top: 1em; background-color: #ffffff; border-radius: 1em; padding-top: 1em; padding-bottom: 1em;">
  <table class="table table-striped table-hover">
    {{#supply}}
    <tr><td style="font-size:1em; font-weight:bold; height:4em;">Current Supply</td><td>{{cur}} ASK</td></tr>
    <tr><td style="font-size:1em; font-weight:bold; height:4em;">Total Supply</td><td>{{total}} ASK</td></tr>
    {{/supply}}
  </table>
</div>

<div class="foot">
    <p>Copyright © Askcoin</p>
</div>
</body>
</html>
